@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to left top, #19a186, #f2cf43);
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100%;
  font-family: "Quicksand", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}

@layer components {
  th,
  td {
    @apply pl-3 text-left;
  }
  .user-row {
    @apply text-left hover:bg-darkkhaki;
  }
  .extra-column {
    @apply hidden md:table-cell;
  }
  .pagenumber-button {
    @apply py-2 px-3 text-slate-50 border border-gray-300 bg-lightcyan hover:bg-mediumseagreen  dark:border-gray-700 dark:bg-gray-700 dark:text-white;
  }
}
